[Unit]
Description=Consul
Wants=network-online.target
After=network-online.target

[Service]
User=consul
Group=consul
Type=simple
ExecStart=/usr/local/bin/consul agent -config-file /etc/consul/consul.json

[Install]
WantedBy=multi-user.target
