[Unit]
Description=Nginx
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecReload=/usr/bin/docker kill -s HUP %n
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run --rm --name %n -i \
  --security-opt apparmor=unconfined \
  --net host \
  --pid host \
  --volume /etc/nginx:/etc/nginx:ro \
  --volume /var/www:/var/www:ro \
  nginx

[Install]
WantedBy=multi-user.target
