[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull prom/prometheus
ExecStart=/usr/bin/docker run --rm --name %n \
  --security-opt apparmor=unconfined \
  --net host \
  --volume /etc/prometheus:/etc/prometheus:ro \
  --volume /var/lib/prometheus:/var/lib/prometheus \
  prom/prometheus \
  --config.file="/etc/prometheus/prometheus.yml" \
  --storage.tsdb.path="/var/lib/prometheus/"

[Install]
WantedBy=multi-user.target
