[Unit]
Description=Netdata
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull titpetric/netdata
ExecStart=/usr/bin/docker run --rm --name %n \
  --cap-add SYS_PTRACE --volume /proc:/host/proc:ro --volume /sys:/host/sys:ro \
        --publish 19999:19999 titpetric/netdata

[Install]
WantedBy=multi-user.target
