[Unit]
Description=Roq {{ item }} gateway service
After=network-online.target
Conflicts=roq-{{ item }}-stop.service

[Service]
User=trading
Group=trading
Restart=on-abnormal
UMask=0002
{% if femasapi.cpu_affinity is defined %}
CPUAffinity={{ femasapi.cpu_affinity }}
{% endif %}
CPUSchedulingPolicy=fifo
WorkingDirectory=/trading/run/{{ item }}
ExecStart=/trading/bin/roq-{{ item }}.sh

[Install]
WantedBy=multi-user.target
